.listItem {
    padding: 1% 0;
    margin: 1% 1%;
    font-size: 1em;
    list-style-type: none;

    border-bottom: 1px solid black;
    border-radius: 5px;
    background-color: rgb(215, 232, 255);
    box-shadow: 1px 1px 10px black;
}

.listFlexBox {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.leftItem {
    width: 25%;
    text-align: right;
    font-size: .8em
}

.rightItem {
    width: 75%;
    font-size: .6em;
    text-align: left;
    padding-left: 5px;
}

ul {
    padding: 0;
}