.listItem {
    padding: 1% 0;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1% 10%;
    font-size: 1em;
    background-color: #ccc;
    list-style-type: none;
    text-align: center;
    box-shadow: 1px 1px 10px black;
}

p {
    display: inline-block;
    margin: 0 auto;
}